.ant-row-detail{padding: 8px 0}
.smt-details .newCluenk .content{
    padding: 20px 10px;
}
.smt-details .newCluenk .ant-input{color: #333}
.smt-details .newCluenk .money-color input{color: #f00}
/* 页面内容间距统一20px */
.newCluewk.smtorder-detail .ant-form-item-control,
.newCluewk.smtorder-detail .ant-form-item-label,
.newCluewk.smtorder-detail .ant-input{
    height: 14px;
    line-height: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 0;
}
.newCluewk.smtorder-detail .ant-row .ant-col-6,
.newCluewk.smtorder-detail .ant-row .ant-col-24{
    height: 14px;
    line-height: 14px;
}
.newCluenk.logistic-info .content
{
    padding: 0 0 10px;
}
/* 页面内容间距统一20px end*/

.newClue .newCluenk.noborderCluenk{
    border: none;
}
.newClue .newCluewk.smtorder-detail .title{
    padding-left: 10px;
    height: 44px;
    line-height: 44px;
    /*background-color: #E9EFF8;*/
    color: #333;
}
.newClue .content.capital-detail .title{
    height: 35px;
    text-align: center;
    line-height: 35px;
    background-color: #fff;
    color: #333;

}
/* 订单信息 */
.money-color input{color: #f00}
.order-info .ant-steps{
    /*padding: 45px 15px;*/
}

/* .order-info .ant-form-item-label,
.order-info .ant-form-item-control,
.order-detail .ant-form-item-label{
    text-align: right;
} */

.ant-steps-small .ant-steps-item-icon{
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    background-color: #999;
    border: 1px solid #DDE0FF;
}
.ant-steps-item-finish .ant-steps-item-icon{
    background-color: #4D7BFE;
    border: 1px solid #DDE0FF;
}
.ant-steps-item{
    padding: 20px;
}
.ant-steps-item > .ant-steps-item-content{
    position: relative;
}

.ant-steps-item > .ant-steps-item-content > .ant-steps-item-title{
    position: absolute;
    top: -25px;
    left: -45px;
    color: #999;
}
.ant-steps-item > .ant-steps-item-content >.ant-steps-item-title:after{
    height: 5px;
    top: 33px;
}
.ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title{
    color: #4D7BFE;
}
.ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title:after{
    background-color: #4D7BFE;
}
.ant-steps-small .ant-steps-item-title:after{
    top: 10px;
    background-color: #5658B9;
}
.ant-steps-item-process > .ant-steps-item-content > .ant-steps-item-title:after{
    background-color: #ddd;
}
.ant-steps-item .ant-steps-item-icon > .ant-steps-icon{
    color: #fff;
}
/* smt-noborderRow */
.order-state-line{
    border-top: 1px solid #ddd;
    margin: 0 -10px;
}
.smt-borderRow{
    border-bottom: 1px solid #ddd;
}
.smt-noborderRow{
    background-color: #E9EFF8;
}
.smt-borderRow .separated-line,
.smt-borderRow .separated-line .ant-form-item-label{
    border-right: 1px solid #ddd;
}
.smt-borderRow .spearated-unline{
    border-color: transparent;
}
.smt-borderRow .separated-line .ant-form-item-label,
.smt-borderRow .separated-line .ant-input{
    height: 60px;
    line-height: 60px;
}
.order-detail .smt-borderRow .separated-line .ant-form-item-label,
.order-detail .smt-borderRow .separated-line .ant-input{
    height: 40px;
    line-height: 40px;
}

/* 物流信息 */
.separated-write{
    height: 39px;
    background-color: #fff;
}
.newCluenk.logistic-info .ant-table-thead > tr > th,
.newCluenk.product-info .ant-table-thead > tr > th{
    color: #666;
}
.newCluenk.logistic-info .ant-table-tbody > tr > td,
.newCluenk.product-info .ant-table-tbody > tr > td
{
    border-bottom: none;
    color: #333;
    background-color: #fff;
}
/* 产品信息 */
.newCluenk.product-info .content{
    padding: 0 0 20px;
}
.product-info .prodet-remark{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.smtorder-detail .ant-form-item-children .ant-input{ /* 详情页input框只读设置 */
    border: none;
    outline: none;
    background: transparent;
}
.smtorder-detail .ant-form-item-children .ant-input:focus{
    box-shadow: none;
}

.edit-trackid .ant-form-item{
    margin-bottom: 10px;
}
.capital-detail .ant-table-tbody tr td{
    text-align: center;
}
.goodsInfo .img{
    float: left;
}
.goodsInfo .info{
    margin-left: 80px;
    text-align: left;
}
.goodsInfo .info a{
    color: #4c5f70;
}
.goodsInfo .info .name {
    height: 40px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-top: -5px;
}

.logistic-info .ant-table .text-center,.product-info .ant-table .text-center{
    text-align: center;
}

/* 留言信息 */
.newClue .newCluenk.message-info .client-msg{
    padding: 0 0 20px 0;
}
.client-msg .buyer,.client-msg .saler{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: nowrap
}
.client-msg .saler{
    flex-direction: row-reverse;
}

.client-msg .buyer .basic-info{
    width: 240px;
    display: flex;
    display: -webkit-flex;
}
.client-msg .buyer .chat-detail{
    flex: 1;
    margin-right: 56px;
}

.client-msg .saler .basic-info{
    width: 160px;
    height: 48px;
    text-align: center;
}

.client-msg .buyer .basic-info .head,
.client-msg .saler .basic-info .head{
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    border-radius: 24px;
}
.client-msg .buyer .basic-info .info,
.client-msg .saler .basic-info .info{
    color: #999;
    font-size: 16px;
    padding: 3px 0;
    height: 48px;
}

.client-msg .buyer .basic-info .head{
    background-color: #5658B9;
    margin: 0 10px 0 20px
}
.client-msg .saler .basic-info .head{
    background-color: #56B97B;
    margin-left: 56px;
}

.client-msg .buyer .chat-detail{
    background-color: #5658B9;
}
.client-msg .saler .chat-detail{
    background-color: #56B97B;
    flex: 1;
    margin-left: 20px;
}
.client-msg .buyer .chat-detail,.client-msg .saler .chat-detail{
    padding: 5px 10px;
    color: #FFF;
    font-size: 16px;
    border-radius: 10px;
    position: relative;
    margin-top: 8px;
    text-indent: 1em;
    max-width: 900px;
}

.client-msg .buyer .chat-detail:before,
.client-msg .saler .chat-detail:after{
    content: '';
    width: 0px;
    height: 0px;
    border-width: 8px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.client-msg .buyer .chat-detail:before{
    border-color: #5658B9 transparent transparent transparent;
    left: -8px;
}
.client-msg .saler .chat-detail:after{
    border-color: #56B97B transparent transparent transparent;
    right: -8px;
}



/* 订单操作日志 */
.operation-log .ant-table table{
    text-align: center;
}
.operation-log .ant-table-small{
    border: none;
}
.operation-log .ant-table-small > .ant-table-content > .ant-table-body > table{
    padding: 0;
}
.operation-log .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th{
    /*background: #F3F5F7;*/
    /*border-bottom: none;*/
    /*border-right: none;*/
}

/* 右侧导航 */
.newClue .newCluenk.aside-right{
    border: none;
    background: #E9EFF8;
}
.newClue .aside-right .title{
    padding-left: 0!important;
    text-align: center;
}
.aside-right{
    position: fixed;
    top: 23%;
    right: 15px;
    min-width: 90px;
}
.aside-right ul li{
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 15px;
    color: #333;
}
.aside-right .cur,.aside-right ul li:hover{
    color: #4D7BFE;
}
.aside-right .cur i,.aside-right ul li:hover i{
    background: #4D7BFE;
}
.aside-right ul li i{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border: 1px solid #4D7BFE;
    margin-right: 10px;
    vertical-align: middle;
    position: relative;
    z-index: 10;
    line-height: 1;
}
.aside-right ul li i:after{
    content: '';
    height: 12px;
    width: 0;
    position: absolute;
    top: 20px;
    border-right: 1px dashed #4D7BFE;
    z-index: 1;
}
.aside-right ul li:last-child i:after{
    border-right: none;
}

