.pms-purchaseroleset .ant-tabs-bar{
    margin: 0 !important;
}
.pms-purchaseroleset .search{
    background-color:#fff;
}
.pms-purchaseroleset-modal .ant-form-item-children>div{
    width:330px;
    /* margin-left: 30px; */
}
.pms-purchaseroleset .ant-tabs-nav-scroll{
    background-color: #fff;
}
/* .pms-purchaseroleset-modal .ant-form-item-label, .pms-purchaseroleset-modal .ant-form-item-control{
    height: 30px;
    line-height: 30px; 
} */
.pms-purchaseroleset-modal .ant-form-item-required{
    height: 30px;
}
.pms-purchaseroleset-modal .ant-modal-body>div{
    margin-top: 20px;
}
.pms-purchaseroleset-modal .ant-modal-body .ant-form-item:first-child{
    margin-top: 0px !important;
}