/* 搜索 */
.pms-prmanage .search{
    position: relative;
}
.pms-prmanage .search-tab{
    position: absolute;
    width: 120px;
    top: 13px;
    right: 10px;
    z-index: 1;
}
.pms-prmanage .search-tab .ant-radio-button-wrapper-checked{
    background: #4d7bfe;
    color: #fff;
    border-color: #4d7bfe;
}

.pms-prmanage .text-search .ant-radio-button-wrapper-checked{
    background: #4d7bfe;
    color: #fff;
    border-color: #4d7bfe;
}

.pms-prmanage .pms-prmanage .default-search{
    overflow: hidden;
}

.pms-prmanage .text-search{
    border-top: 1px #eee solid;
    border-bottom: 1px #eee solid;
    overflow: hidden;
    background: #fafafa;
}

.pms-prmanage .btn-search{
    width: 330px;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: right;
}

.pms-prmanage .btn-search button{
    margin-left: 10px;
}

.pms-prmanage .height-search{
    overflow: hidden;
}

.pms-prmanage .height-search .standard-form-row{
    overflow: hidden;
    margin-top: 10px;
}

.pms-prmanage .height-search .ant-form-item-control-wrapper, .pms-prmanage .height-search .ant-calendar-picker{
    width: 344px;
}

.pms-prmanage .height-search .ant-form-item-control-wrapper,
.pms-prmanage .height-search .ant-calendar-picker{
    width: 344px;
}

.pms-prmanage_fsz12 {
    font-size: 12px;
    color: #333333;
}

.pms-prmanage_suppliers_top {
    padding-top: 6px;
}
