.order-tablelist-div{
    text-align: left;
    margin: 0 auto;
}
.order-tablelist-div2 > p span:first-child, .order-tablelist-span1{
    display: inline-block;
    width: 40%;
    padding-right: 4px;
    text-align: right;
}
.order-tablelist-div2 > p span:last-child, .order-tablelist-span3{
    display: inline-flex;
    word-break: break-word;
    width: 55%;
}
.order-tablelist-div3 > p span:first-child{
    min-width: 56px;
}
.order-tablelist-div3 > p span:last-child{
    width: 52%;
}

.auditmodal-p{
    padding: 0 30px;
    color: red;
}
.auditmodal-result{
    margin: 20px 0 !important;
    display: flex;
    align-items: center;
}
.auditmodal-result .ant-form-item-children{
    display: flex;
}
.auditmodal-result #auditStatus{
    min-width: 150px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.auditmodal-div{
    display: inline-flex;
    align-items: center;
    width: 100%;
}
.auditmodal-span{
    display: inline-block;
}
.auditmodal-span::before{
    display: inline-block;
    width: 10px;
    height: 10px;
    content: '*';
    color: red;
}
#revokeType{
    width: 100%;
}