.ant-dropdown-menu .ant-dropdown-menu-item span
{
    color: #4D7BFE;
}

.documentary_Expediting_Template_Textarea {
    padding-top: 20px;
    width: 760px !important;
    height: 210px !important;
}

.documentary_Expediting_Template_div {
    padding-top: 10px;
}

.documentary_list_table_img {
    margin-left: 6px;
}

.documentary_search_form_item_title {
    float: left;
    width: 160px;
    line-height: 40px;
    text-align: right;
    font-size: 12px;
}

.documentary_search_button_div {
    text-align: right;
    width: 490px;
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 5px;
}

.documentary_search_button {
    margin-left: 10px;
}


.documentary_search {
    position: relative;
}

.documentary_search .documentary_search-tab {
    line-height: 57px;
    position: absolute;
    right: 10px;
    z-index: 10;
}

.documentary_search .ant-radio-button-wrapper-checked {
    background-color: #4D7BFE;
    color: #fff;
    border-color: #4d7bfe;
}

.documentary_search .ant-row {
    margin: 10px 0;
}

.documentary_search .Search_Type .ant-row {
    margin: 5px 0;
}

.documentary_search .Search_Contents .ant-row {
    margin: 5px 0px 15px 0px;
}

.documentary_search .search-item {
    border-top: 1px #eee solid;
    border-bottom: 1px #eee solid;
    background: #fafafa;
}

.documentary-detail-search {
    overflow: hidden;
    background-color: #ffffff;
    position: relative;
}

.sides-wrap {
    box-sizing: border-box;
    padding: 3px 0 4px;
    height: 39px;
}

.left-sides {
    line-height: 32px;
    font-size: 12px;
    text-align: right;
}

.download-template {
    padding-left: 135px;
    padding-top: 15px;
}
