.yks-erp-ctag-style > .ant-tag-checkable:first-child {
    margin-left: 0;
}
.yks-erp-ctag-style > .ant-tag-checkable {
    /* margin-left: 15px; */
    border-radius: 0;
    height: 24px;
    line-height: 24px;
    text-align: center;
    /* border: 1px #ddd solid; */
    /* min-width:92px; */
    padding: 0 5px;
    color: #333;
}
.yks-erp-ctag-style > .ant-tag-checkable-checked {
    background-color: #4d7bfe;
    color: white;
    border-radius: 5px;
    line-height: 23px;
}
