.tweb-choice-select {
    margin-bottom: 10px;
}
.tweb-choice-select-n.ant-select {
    width: 100px;
    margin-right: 20px;
}
.tweb-choice-select-v.ant-select {
    width: 344px;
}
.tweb-choice-list-add {
    color:#4D7BFE;
    font-size: 12px;
    padding: 5px 10px;
    cursor: pointer;
    display: inline-block;
}
.tweb-choice-select-del {
    padding: 10px;
    cursor:pointer;
}
.tweb-list-filter-item {
    position: relative;
    padding-left: 115px;
    line-height: 24px;
}
.tweb-list-filter-item-title {
    width: 110px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: right;
    font-size: 13px;
    font-weight: 700;
}