.yks-erp-tabs .ant-tabs-bar{
    border-bottom: 1px #EAE9E9 solid !important;
    background-color: #fff !important;
    margin: 0 !important;
}

.yks-erp-tabs .ant-tabs-ink-bar{
    background-color: #fff !important;
    bottom: 0px !important;
    left: -1px !important;
}

.yks-erp-tabs .ant-tabs-nav-container{
    overflow: initial !important;
    margin-bottom: 0px !important;
}

.yks-erp-tabs  .ant-tabs-nav .ant-tabs-tab{
    margin: 0px !important;
    border: 1px #EAE9E9 solid !important;
    border-left: 0px !important;
    background-color: #F9FAFD !important;
    height: 40px !important;
    line-height: 40px !important;
    word-break: break-all !important;
    margin-top: -1px !important;
}

.yks-erp-tabs  .ant-tabs-nav .ant-tabs-tab a{
    color:#666 !important;
    display: block !important;
}

.yks-erp-tabs .ant-tabs-nav .ant-tabs-tab{
    padding: 0px 16px !important;
}

.yks-erp-tabs .ant-tabs-top .ant-tabs-ink-bar-animated {
    transition: none !important;
    -webkit-transition: none !important;
}

.yks-erp-tabs .ant-tabs-nav .ant-tabs-tab.ant-tabs-tab-active{
    color: #4d7bfe !important;
    border-top: 2px #4d7bfe solid !important;
    background: #fff !important;
    position: relative !important;
    top: 1px !important;
    word-break: break-all !important;
}

.yks-erp-tabs .ant-tabs-nav .ant-tabs-tab.ant-tabs-tab-active a{
    color:#333 !important;
}

.yks-erp-tabs .ant-tabs.ant-tabs-card>.ant-tabs-bar .ant-tabs-nav-container {
    height: 39px;
}

.yks-erp-tabs .ant-tabs-nav .ant-tabs-tab-active {
    border-bottom: 2px solid #ffffff !important;
    margin-top: 0px !important;
    top: 1px !important;
}

.yks-erp-tabs .ant-tabs.ant-tabs-card>.ant-tabs-bar .ant-tabs-tab {
    border-radius: 0 !important;
    top: -1px;
}
