/* 详情页 */
.contraband .height-search{
    overflow: hidden;
}
.contraband .associatedSku .table-item .label span:after {
    content: "";
}
.contraband  .associatedSku .table-item .items {
    width: 220px!important;
}
.contraband  .associatedSku .table-item .label {
    width: 20px!important;
}
.contraband .disableInfo .table-item .label span:after {
    content: ":";
}
.contraband .disableInfo .table-item .items {
    width: 230px!important;
}
 .contraband .height-search{
    overflow: hidden;
}
 .contraband-cascader {
     width: 240px;
 }
.contraband-detail .ant-row .ant-form-item {
     margin-bottom: 12px;
 }
 .contraband-detail .ant-form:last-of-type .ant-col-24 .ant-col-24:last-of-type .ant-form-item {
    margin-bottom: 0;
}
 .contraband-detail .ant-row .common-sensitive-platform-site .ant-form-item {
    margin-bottom: 0;
}
 .contraband-detail .ant-table-body td {
        text-align: center;
 }
 .contraband-detail2 {
    padding: 0 50px;
 }
 .contraband-detail2 .title{
    padding-left: 0!important;
    padding-right: 0!important;
    margin-bottom: 10px;
 }
 .contraband-detail2 .title:last-of-type {
    margin-top: 20px;
 }
 .contraband-detail2 .ant-table-body td {
    text-align: center;
 }
 .contraband-detail2 .separate-line {
    display: inline-block;
    width:4px;
    height:16px;
    line-height: 30px;
    background:rgba(77,123,254,1);
    border-radius:2px;
    vertical-align: middle;
 }
 .contraband-detail2 .separate-header {
    margin: 8px;
    height:17px;
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
    vertical-align: middle;
 }

.contraband-detail2 .ant-form-item-control-wrapper {
    /* overflow: hidden; */
}
.contraband-detail2 .ant-form-text {
    /* width: 210px; */
    display: inline;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}
.contraband-detail2 .ant-row .ant-form-item-control {
    line-height: 20px;
    font-size: 12px;
}
.contraband-detail2 .ant-row .ant-form-item-label {
    line-height: 20px;
}
.contraband-detail .mb15 {
    margin-bottom: 0;
}
