

/* 详情页 */
.data-graph-mark-upaloader > .ant-upload {
    width: 105px;
    height: 92px;
}

.data-graph-mark-upaloader img{
    width: 105px;
    height: 92px;
    object-fit: cover;
}
.data-graph-mark .height-search{
    overflow: hidden;
}
.data-graph-mark .height-search .common-standard-form-row {
    overflow: hidden;
    margin-top: 10px;
}
 .data-graph-mark .ant-form-item-control-wrapper {
     width: 344px;
 }
 
.data-graph-detail .ant-row .ant-form-item {
     margin-bottom: 12px;
 }

 .data-graph-detail .ant-form:last-of-type .ant-col-24 .ant-col-24:last-of-type .ant-form-item {
    margin-bottom: 0;
}
 .data-graph-detail .ant-row .common-sensitive-platform-site .ant-form-item {
    margin-bottom: 0;
}
 .data-graph-detail2 {
    padding: 0 50px;
 }

 .data-graph-detail2 .title{
    padding-left: 0!important;
    padding-right: 0!important;
    margin-bottom: 10px;
 }
 .data-graph-detail2 .title:last-of-type {
    margin-top: 20px;
 }
 .data-graph-detail2 .ant-table-body td {
    text-align: center;
 }
 .data-graph-detail2 .separate-line {
    display: inline-block;
    width:4px;
    height:16px;
    line-height: 30px;
    background:rgba(77,123,254,1);
    border-radius:2px;
    vertical-align: middle;
 }
 .data-graph-detail2 .separate-header {
    margin: 8px;
    height:17px;
    font-size:16px;
    font-family:MicrosoftYaHei;
    font-weight:bold;
    color:rgba(51,51,51,1);
    vertical-align: middle;
 }

.data-graph-detail2 .ant-form-item-control-wrapper {
    /* overflow: hidden; */
}
.data-graph-detail2 .ant-row .ant-form-item-control {
    line-height: 20px;
    font-size: 12px;
}

.data-graph-detail2 .ant-row .ant-form-item-label {
    line-height: 20px;
}
.data-graph-detail2 .ant-form-text {
    /* width: 210px; */
    display: inline;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}

.data-graph-mark-cascader .ant-cascader-menu-item .ant-cascader-menu{
    width: 165px;
}

.data-graph-mark-cascader .ant-cascader-menu-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 12em;
}
.data-graph-detail .mb15 {
    margin-bottom: 0;
}