/* Search begin */
.record-search {
    overflow: hidden;
    background-color: #ffffff;
}

.record-search .standard-form-row {
    overflow: hidden;
    padding: 10px 0;
}

.record-search .standard-form-row .label, .record-search .standard-form-row .ant-form-item-control {
    overflow: hidden;
    line-height: 33px !important;
}

.record-defaultSearch {
    overflow: hidden;
    /* margin-top: 6px; */
}

.record-heightSearch {
    overflow: hidden;
}

.record-searchBtn {
    margin: 10px 0;
    width: 490px;
    text-align: right
}

.record-searchBtn button {
    margin-left: 20px;
}

.record-heightSearch .standard-form-row .ant-form-item-control .ant-select {
    width: 330px !important;
}

.record-searchTab {
    margin: 10px 10px 0 0;
}

.record-searchTab .ant-radio-button-wrapper-checked {
    background-color: #4D7BFE !important;
    color: #ffffff !important;
}

.record-textSearch {
    background: #fafafa;
    border-top: 1px #EAE9E9 solid;
    border-bottom: 1px #EAE9E9 solid;
}

/* search end */

.record-tablelist {
    overflow: hidden;
    background-color: #ffffff;
    padding: 10px;
    margin-top: 20px;
}

.record-flashBtn {
    text-align: right;
    margin-bottom: 10px;
}

.record-clear {
    clear: both;
}

.record-title {
    float: left;
    display: inline-flex;
    text-align: right;
    max-width: 90px;
    margin-left: 24%;
}

.record-content {
    float: left;
    /* width: 60px; */
    display: inline-flex;
    text-align: left;
}

.template-matchrule-tab .ant-table-thead tr th span {
    color: #666;
}

.publish-matchrule-modal .ant-table-thead > tr > th {
    padding: 0 !important;
    height: 35px;
    line-height: 35px;
}

.publish-matchrule-modal .publich-matchrule-tab .ant-table-thead tr th span {
    color: #666;
}

.publish-matchrule-modal .publish-matchrule-active {
    cursor: pointer;
    color: #4D7BFE;
    text-align: center;
}
.search_adjustment .ant-form-item-control-wrapper {
    padding-top: 5px;
}

.search_adjustment .ant-form-item-control-wrapper .ant-form-item-control {
    height: 39px !important;
}

.search_adjustment_button {
    bottom: 1px;
}