.order-llist-search .newCluenk .content {
    padding: 10px 20px;
}
.order-llist-search .ctageSearch .ant-form-item-label,
.order-llist-search .ctageSearch .ant-form-item-control-wrapper{
    margin: 0;
}
.order-list .ant-table table {
    border-radius: 4px;
}
.newClue .accurateBox{
    border: none;
    margin-bottom: 0px;
}
.newClue .content .accurateFormItem{
    width: 100%;
    padding-right: 10px;
}
.newClue .content .textArea400{
    width: 400px;
}
.pad-top-bottom8{padding: 8px 0px;}
.pad-top-bottom8 .marginLeft20{
    margin-left: 20px;
}
.newClue .content .widthAll{
    width: 100% !important;
}
.newClue .content .widthAll45{
    width: 45% !important;
}
.newClue .content .paddingTB5{
    padding: 5px 0px;
}
.textRight{
    text-align: right;
}
.newClue .content .formItemSpan{
    display:inline-block;
    text-align: center;
    width: 10%;
}
.order-list .newCluewk .tabsCard{
    background-color: #fff;
    margin-bottom: 15px;
    border: 1px solid #e6eaee;
}
.cursor-pointer{
    cursor: pointer;
}
/* .oms-order-saleaccount .ant-select-selection--multiple{
    height: 32px;
    overflow-y: scroll;
} */
.order-search-labelSelect .ant-select-selection-selected-value{
    padding-right: 0;
}
.order-search-labelSelect .ant-select-arrow{
    right: 4px !important;
}

.orderlist-money-separate {
    display: inline-block;
    line-height: 39px;
    margin: 0 10px;
    color:#ddd;
}
.order-tablelist-span2{
    display: inline-block;
    width: 84px;
    text-align: right;
    padding-right: 4px;
}
.order-tablelist-span4{
    display: inline-flex;
    max-width: 90px;
}
.order-tablelist-div{
    text-align: left;
    margin: 0 auto;
}
.order-tablelist-div2 > p span:first-child, .order-tablelist-span1{
    display: inline-block;
    width: 40%;
    padding-right: 4px;
    text-align: right;
}
.order-tablelist-div2 > p span:last-child, .order-tablelist-span3{
    display: inline-flex;
    word-break: break-word;
    width: 55%;
}
.order-tablelist-div3 > p span:first-child{
    min-width: 56px;
}
.order-tablelist-div3 > p span:last-child{
    width: 52%;
}
.order-search-saleAccountId {
    height: 39px;
}
.order-search-saleAccountId .ant-form-item-children {
    display: flex;
    align-items: center;
    height: 39px;
}
.order-search-saleAccountId .ant-form-item-children > div,
.order-search-saleAccountId .ant-form-item-children > Input{
    width: 230px;
    display: inline-block;
    margin-right: 12px;
}
.order-search-saleAccountId .order-cselect{
    max-height: 46px;
    overflow-y: auto;
    position: relative;
    top: 8px;
}
