.wms-checkinventory .border-top-1 {
    border-top: 1px solid #EAEDF3;
}

.wms-checkinventory .ant-radio-button-wrapper-checked{
    background: #4d7bfe;
    color: #fff;
    border-color: #4d7bfe;
}
.wms-checkinventory  .ant-radio-button-wrapper-checked{
    background: #4d7bfe;
    color: #fff;
    border-color: #4d7bfe;
}

